# Project.
LitratureReview
.debug
.release

# IDE project files to ignore.
.vs/
.vscode
*.code-workspace
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.VisualState.xml
TestResult.xml
nunit-*.xml
.builds
*.pidb
*.svclog
*.scc
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.kdev4
.kdev4/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

